.noticia {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 15px;
    padding: 15px;
    background-color: #f9f9f9;
}

.titulo-noticia {
    font-size: 1.5em;
    color: #333;
}

.imagen-noticia {
    width: 10%; /* O ajusta según sea necesario */
    height: auto;
    border-radius: 5px;
}

.descripcion-noticia {
    font-size: 1em;
    color: #555;
    margin: 10px 0;
}

.leer-mas {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.leer-mas:hover {
    background-color: #0056b3;
}


.paginacion {
    display: flex;
    justify-content: center; /* Centra el contenido */
    margin: 20px 0; /* Espaciado arriba y abajo */
}

.paginacion {
    display: inline-block;
    margin: 0 10px; /* Espaciado entre los números */
    padding: 10px 15px; /* Espaciado interno */
    text-decoration: none; /* Quita el subrayado del enlace */
    color: #333; /* Color del texto */
    border: 1px solid #ccc; /* Borde */
    border-radius: 5px; /* Esquinas redondeadas */
    transition: background-color 0.3s; /* Transición para el hover */
}

.paginacion:hover {
    background-color: #f0f0f0; /* Color de fondo al pasar el mouse */
}

.paginacion.active {
    background-color: #007bff; /* Color de fondo para la página activa */
    color: white; /* Color del texto para la página activa */
    border-color: #007bff; /* Borde para la página activa */
}
